.container {
  background-color: #fcf0e5;
  padding: 8px;
  border-radius: 8px;
  position: relative;
}

.recipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 8px;
}

.pill {
  position: absolute;
  right: 0;
  z-index: 1;
}

.profiles {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}
