.container {
  display: flex;
  padding: 4px 8px;
  background-color: #2e6847;
  color: #fff;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 16px;
}

.sponsoredContainer {
  @extend .container;
  background-color: #803044;
}
