@use "../styles/variables.scss";

.container {
  display: grid;
  gap: 20px;
}

//inte mindre än 14px text

@media screen and (min-width: variables.$mobile-width) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: variables.$tablet-width) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: variables.$desktop-width) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
