@use "../styles/variables.module.scss";

.container {
  background-color: lightgray;
  padding: 10px;
  border-radius: 8px;
}

.recipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  overflow: hidden;
}

.pill {
  position: absolute;
  width: fit-content;
  z-index: 1;
}
